*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #333;
}
.nav_btn_link{
    text-align: left;
    display: flex;
    align-items: center;
    font-size: 17px;
    font-weight: 500;
}
.nav_btn_link:hover{
    color: rgba(255, 98, 98, 0.816);
}
.timeline_video {
    max-height: 600px;
    border-radius: 15px;
    margin-top: 10px;
    max-width: 548px;
}